p {
  text-align: justify; /* Выравнивание по ширине */
  margin-left: 60px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
  border-left: 1px solid #999; /* Параметры линии слева */
  border-bottom: 1px solid #999; /* Параметры линии снизу */
  padding-left: 10px; /* Отступ от линии слева до текста  */
  padding-bottom: 10px; /* Отступ от линии снизу до текста  */
}
#logo,#butt{
  text-align: center;
  }
h3{
  position: absolute; /* Абсолютное позиционирование */
      bottom: 15px; /* Положение от нижнего края */
      left: 15px; /* Положение от правого края */
      line-height: 1px;
}